.one {
  width: 250px;
  height: 250px;
  background-color: lightcoral;
  margin-left: 110px;
}

.two {
  width: 500px;
  height: 350px;
  background-color: lightblue;
}

.three {
  width: 250px;
  height: 250px;
  background-color: green;
  margin-left: 110px;
}
